@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

:root {
  --branco: #f3f3f3c7;
  --rosaClaro: #da5858;
  --rosaEscuro: #da585888;
  --vermelho: #b02929;
  --cinza: #919295;
  --cinzaMedio: #2f3136;
  --cinzaEscuro: #222222;
}

html {
  font-size: calc(60%+0.8vmin);
}

* {
  margin: 0px;
  padding: 0px;
}

*::selection {
  background: var(--cinza);
  color: white;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 1.8em;
  text-shadow: 1px 1px 4px var(--rosaClaro);
  color: var(--branco);
  text-align: left;
  padding-left: 10px;
}

h2 {
  font-family: 'Unica One', cursive;
  font-size: 3.5em;
  padding-top: 50px;
  text-shadow: 1px 1px 4px var(--rosaClaro);
  color: var(--vermelho);
  text-align: center;
}

#titulo-central {
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--branco);
}

a:visited {
  color: var(--branco);
}

a:hover {
  color: var(--cinza);
}

label {
  color: var(--branco);
}

body {
  background-color: var(--cinzaEscuro);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  background-color: var(--rosaEscuro);
  padding: 20px;
  height: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  display: flex;
  align-items:center;
}

footer {
  background-color: var(--rosaEscuro);
  color: white;
  padding: 20px;
  position: absolute;
  margin-top: 700px;
  /* left: 0; */
  bottom: 0;
  width: 100%;
}

img#img-github {
  width: 40px;
  height: 40px;
}

ul {
  list-style: none;
  margin-top: 10px;
}

.githubprojeto {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.githubprojeto > img {
  margin-left: 10px;
}

h2#githubs {
  font-size: 1.3em;
}

#btn-login {
  overflow: hidden;
  background-color: var(--rosaEscuro);
  border-radius: 5px;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 5px;
  transition: 0.3s;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}

#btn-login:hover {
  background-color: var(--vermelho);
}

button.active {
  background-color: #ccc;
}

.texto-principal {
  margin-bottom: 20px;
  color: white;
}

/* RESPONSIVIDADE COMEÇA AQUI */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.index-conteudo {
  background-color: var(--cinza);
  border: 10px;
  padding: 25px;
  border-radius: 10px;
  width: 310px;
  height: 310px;
  margin: 10px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  transition: transform .2s;
}

.index-conteudo:hover {
  transform: scale(1.02);
}

#img-review {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-ouvir {
  width: 130px;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-atributos {
  width: 140px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-descricao {
  text-align: justify;
}

@media (max-width: 1008px) {
  .index-descricao {
    font-size: 1.55vw;
   }
}

.index-titulo {
  color: var(--cinzaMedio);
  text-shadow: 2px 2px 2px var(--rosaEscuro);
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline solid #b1b9d6;
}

@media (max-width: 928px) {
  .index-titulo {
    font-size: 2.3vw;
   }
}

@media (max-width: 664px) {
  .index-titulo {
    font-size: 1.8vw;
   }

}

@media (max-width: 646px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .index-conteudo {
    width: 80%;
    height: 320px;
  }

  .index-titulo {
    font-size: 4vw;
  }

  .index-descricao {
    font-size: 1.1em;
   }

   
   footer {
    position: static;
    margin-top: 50px;
  }
}

 @media (max-width: 366px) {

  .index-descricao {
    font-size: 1em;
   }

   h1 {
    font-size: 15vw;
   }
} 

@media (max-width: 346px) {

  .index-descricao {
    font-size: 4.35vw;
   }

   .index-conteudo {
    width: 70%;
    height: 320px;
  }
} 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}