.estatisticas-data {
  background-color: var(--cinza);
    border: 10px;
    padding: 25px;
    border-radius: 10px;
    width: 1070px;
    height: 600px;
    margin: 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.estatisticas-data-2 {
    background-color: var(--cinza);
    border: 10px;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    margin: 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }

  .estatisticas-data-3 {
    background-color: var(--cinza);
    border: 10px;
    padding: 25px;
    border-radius: 10px;
    width: 310px;
    height: 450px;
    margin: 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }
  
  .estatisticas-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  #destaque-filmes, #destaque-series, #destaque-usuarios {
    margin-top: 20px;
    height: 320px;
    overflow-y: scroll;
  }

  .destaque-filme, .destaque-serie, .destaque-usuario {
    max-width: 250px;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .destaque-usuario {
    margin-bottom: 25px;
  }

  .destaque-usuario-total {
    max-width: 250px;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .destaque-filme-numero, .destaque-serie-numero, .destaque-usuario-numero, .destaque-genero-numero {
    background-color: var(--rosaEscuro);
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
  }
  
  .destaque-filme-capa, .destaque-serie-foto, .destaque-usuario-foto {
    width: 50px;
    height: 50px;
    border: 5px;
    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }
  
  .destaque-filme-nome, .destaque-serie-nome, .destaque-usuario-nome, .destaque-genero-nome {
    font-weight: 600;
    font-size: 0.85em;
  }

  .destaque-filme-nome a, .destaque-serie-nome a {
    color: black;
  }

  .destaque-filme-nome a:hover, .destaque-filme-nome a.active, .destaque-serie-nome a:hover, .destaque-serie-nome a.active {
    color: var(--branco);
  }
  
  .destaque-filme-ano, .destaque-serie-ano {
    font-size: 0.8em;
  }

  .destaque-filme-nota, .destaque-serie-nota, .destaque-usuario-curtida, .destaque-genero-nota {
    font-weight: 600;
    font-size: 0.8em;
  }
  
  #destaque-filme-span, #destaque-serie-span, #destaque-usuario-span, #destaque-genero-span {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #ultimas-reviews {
    margin-top: 20px;
    height: 530px;
    overflow-y: scroll;
  }

  #reviews-mais-populares {
    margin-top: 20px;
    height: 480px;
    overflow-y: scroll;
  }

  #destaque-usuarios-total {
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .review-usuario {
    border-radius: 10px;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 25px;
    border: 2px solid var(--branco);
  }

  .review-capa-itemsistema {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }

  .review-nome-usuario {
    font-weight: 600;
    font-size: 1.1em;
    padding-top: 8px;
  }

  .review-date {
    font-size: 0.8em;
  }

  .review-nota {
    font-weight: 600;
    font-size: 0.8em;
  }

  .review-nome-itemsistema {
    font-weight: 600;
    font-size: 0.9em;
    padding-top: 8px;
  }

  .review-nome-itemsistema a {
    color: black;
  }

  .review-nome-itemsistema a:hover, .review-nome-itemsistema a.active {
    color: var(--branco);
  }

  .review-itemsistema-ano {
    font-size: 0.8em;
  }

  .review-nota-dada, .review-curtidas-dadas {
    font-size: 0.8em;
  }


  #filmes-mais-bem-avaliados, #filmes-mais-populares, #series-mais-bem-avaliadas, #series-mais-populares, #generos-mais-populares {
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .filme-avaliado, .serie-avaliada, .genero-avaliado {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .destaque-genero {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .destaque-genero-numero {
    background-color: var(--rosaEscuro);
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
  }

  .destaque-genero-foto {
    background-color: var(--branco);
    width: 50px;
    height: 50px;
    border: 5px;
    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }

  .destaque-genero-nome {
    font-weight: 600;
    font-size: 0.85em;
  }

  .destaque-genero-nota {
    font-weight: 600;
    font-size: 0.8em;
  }

  /* RESPONSIVIDADE */

  @media (max-width: 1120px) {
    .titulo-pagina {
      font-size: 2vw;
    }
    .texto-pagina {
      font-size: 1.4vw;
    }
  }

  @media (max-width: 786px) {

    .estatisticas-wrapper {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
    }

    .estatisticas-data, .estatisticas-data-2, .estatisticas-data-3 {
      width: 70vw;
    }
    .titulo-pagina {
      font-size: 1.5em;
    }
    .texto-pagina {
      font-size: 0.8em;
    } 
  }

  @media (max-width: 520px) {
    .titulo-pagina {
      font-size: 1.3em;
    }
  }

  @media (max-width: 410px) {
    #destaque-filmes, #destaque-series, #destaque-usuarios, #ultimas-reviews, #reviews-mais-populares, #filmes-mais-bem-avaliados, #musicas-mais-populares, #series-mais-bem-avaliadas, #series-mais-populares {
      height: 60%;
    }
  }

  @media (max-width: 312px) {
    .navbar > h1 {
      font-size: 35px;
    }
  }
