<link rel="stylesheet" href="../css/style-index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,-25" />
<link rel="shortcut icon" href="../img/favicon-theaters.svg" type="image/x-icon">

<body id="index">
<header>
    <span class="material-symbols-outlined">theaters</span>
    <h1>CineMaracufy</h1>
</header>
<main>
    <div id="titulo-central">
        <h2>CineMaracufy</h2>
        <p>{{msg}}</p>
        <p class="texto-principal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, molestiae.</p>
        <form action="/login" method="POST">
        <div>
            <label for="Nome">Nome de usuário</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <button class="btn btn-primary" id="btn-login" type="submit">Login</button>
        </form>
        <a href="https://cinemaracufy.herokuapp.com/register">Registrar</a>
    </div>
    <div class="container">
        <div class="index-conteudo">
            <h3 class="index-titulo">Faça Avaliações!</h3>
            <p class="index-descricao">
            Entre no Cinemaracufy e desfrute de uma imensidão de filmes e séries prontos para receber uma review sua! Aproveite e conheça a review de outros usuários, sem esquecer de deixar um like 👍
            </p>

        </div>
        <div class="index-conteudo">
            <h3 class="index-titulo">Veja mais filmes!</h3>
            <p class="index-descricao">
                Veja seu histórico de avaliações no seu perfil e conheça filmes e séries novos antes de fazer sua review! Basta uma pesquisa na barra de busca e seus desejos serão realizados ✨
            </p>
            
        </div>
        <div class="index-conteudo">
            <h3 class="index-titulo">Divirta-se!</h3>
            <p class="index-descricao">
            A página de estatísticas mostra os prodígios mais badalados do site no momento. Maravilhe-se com os apaixonados por filmes e séries e aproveite o melhor dessa comunidade ❤️
            </p>
            
        </div>
    </div>
</main>

{{!-- <footer>

<nav>

    <a href="https://github.com/luizabm/maracufy-BD1" class="githubprojeto" target="_blank">
        <h3 id="githubs">Github</h3>
        <img src="../img/github-white.png" alt="logo github" id="img-github">
    </a>

    <ul>
        <li> <a href="https://github.com/ahmadkamel7" target="_blank"> Ahmad Kamel Abdouni</a> </li>
        <li> <a href="https://github.com/sm-gian" target="_blank"> Gianlucca Siqueira Maiellaro</a> </li>
        <li> <a href="https://github.com/luizabm" target="_blank"> Luiza Borghi de Mello</a> </li>
        <li> <a href="https://github.com/iwamotoraphael" target="_blank"> Raphael Nobuaki Iwamoto</a> </li>
    </ul>
</nav>
</footer> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</body>